*{
    margin: 0;
    padding: 0;
}
html,
body,
#app
{height:100vh;}

a{text-decoration: none;}

.el-menu--popup{padding:0!important;}
.asideMoon div.el-submenu__title:hover{
    background-color: #2C2E2F!important;
}
.asideSunny div.el-submenu__title:hover{
    background-color: #FFF!important;
}

html{overflow-x: hidden;}
html::-webkit-scrollbar {width: 5px;border-radius: 2px;}
html::-webkit-scrollbar-thumb {background-color: rgb(177, 175, 175);border-radius: 2px;}
html::-webkit-scrollbar-track{background-color: #FFF;}